// ╭┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈ >> >
// ┣─> Artwork
// ╰───────────────────────────────────── >> >

.art {
    .timestamp {
        color: rgba(var(--green), 0.75);
    }

    img[src] {
        box-shadow: 0 0 15px black;
        border-radius: 10px;
        max-width: 80%;
        max-height: 540px;
    }

    justify-self: center;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
