// ╭┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈ >> >
// ┣─> Homepage
// ╰───────────────────────────────────── >> >

.balls {
    gap: 40px;
    margin-top: -30px;
    z-index: -1;

    & > * { overflow: visible;}

    .l-blob {
        color: rgba(var(--active-green));
        filter: drop-shadow(30px -15px 30px rgba(var(--active-green)));
    }

    .r-blob {
        color: rgba(var(--pink));
        filter: drop-shadow(-25px 25px 30px rgba(var(--pink)));
    }
}

.letters {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > a { text-decoration: none;}
}

.letter {
    --colour: rgba(var(--black));
    cursor: pointer;

    max-width: max-content;
    align-self: center;
    font-size: 2em;
    padding: 15px;
    margin: 5px 0 5px 0;
    user-select: none;

    background: transparent;
    box-shadow: 0 0 15px var(--colour),
                inset 0 0 15px var(--colour);
    color: white;
    border: none;

    &::after {
        display: inline-block;
    }

    &:hover {
        --colour: rgba(var(--pink), 0.75);

        color: rgba(var(--pink));
        transform: scale(1.08);

        &::before,
        &::after {
            position: absolute;
            margin-top: 0.35em;
            font-size: 0.65em;
            white-space: pre;
            color: rgba(var(--pink))
        }

        &::before {
            content: attr(data-before-content);
            display: flex;
            justify-content: flex-end;
            margin-left: -77.5px;
        }

        &::after {
            content: attr(data-after-content);
            margin-left: 20px;
        }
    }

    &:active {
        --colour: rgba(var(--active-green), 0.5);
        transition: none;

        color: rgba(var(--active-green));

        &::before,
        &::after { color: rgba(var(--active-green));}
    }
}
