// ╭┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈┈ >> >
// ┣─> Miscellaneous
// ╰───────────────────────────────────── >> >

.misc-links {
    a {
        margin: 40px;
    }

    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.5em;
    width: 80%;
    text-align: center;
}
